<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="titleArea">
    <div class="flexArray leftjustify">
      <img class="profilepic" src="images/headshot.png" alt="a picture of me, Joe Doherty">
      <div class="selfblurb">
        <p class="pheader1">
          <strong>Hey!</strong><br> I'm <strong><a href="/about">Joe Doherty</a></strong>, <br>a front-end web developer at Fire Mountain Gems.
        </p>
        <p class="pheader2">I'm helping to modernize our user experience and prepare for a platform migration of our ecommerce site</p>
      </div>
    </div>

    <hr class="displayOffMobile">
    <p>
      This is my website and blog. Right now, it's all a work in progress, so if you've stumbled upon this, withhold your judgement.
    </p>
  </div>
  <%- include('../partials/getintouch'); %>
  <hr>
  <br>
  <%- include('../partials/expandedblogcards'); %>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>