<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="titleArea">
    <h1>Home</h1>
    <p>
      <strong>Hey!</strong> I'm <strong><a href="/about">Joe Doherty</a></strong>, the front-end web developer at Fire Mountain Gems.
    </p>
    <p>
      This is my website and blog. Right now, it's all a work in progress, so if you've stumbled upon this, withhold your judgement.
    </p>
  </div>
  <%- include('../partials/getintouch'); %>
  <div class="fullsize">
    <br>
    <hr>
    <%- include('../partials/blogpostcard'); %>
  </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>