<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div id="resumeheader" class="jumbotron">
    <h1>Joseph R. Doherty</h1>
    <h3>Front-End Web Developer</h3>
    <p>Here shall live my resume.</p>
    <p>Nothing here yet, but it'll be here eventually.</p>
    <p>Including a way to download my resume directly, how cool is that going to be? (the correct answer is <em>"very"</em>)</p>
  </div>
  <%- include('../partials/getintouch'); %>
  <div class="fullsize">
    <br>
    <hr>
    <%- include('../partials/blogpostcard'); %>
  </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>